@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nunito:600,700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.follow__item-ibg::after, .slide-customers__top::after, .slide-customers__top::before, .collection__see-all::after, [class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-angle-right:before {
  content: "\e900";
}

._icon-Arrow-right:before {
  content: "\e901";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-Instagram-filled:before {
  content: "\e903";
}

._icon-Item:before {
  content: "\e904";
}

._icon-photo:before {
  content: "\e905";
}

._icon-Twitter:before {
  content: "\e906";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #4A4A4A;
  line-height: 1;
  font-family: "DM Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "DM Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 72rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 1.4375rem;
  line-height: 0.75;
  transition: opacity 0.3s ease 0s;
  pointer-events: none;
  margin: 0.75rem 0;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
  display: none;
}

.tabs__navigation {
  display: flex;
  justify-content: center;
}
@supports (margin-bottom: clamp( 0.9375rem , 0.4038573086rem  +  2.6682134571vw , 2.375rem )) {
  .tabs__navigation {
    margin-bottom: clamp( 0.9375rem , 0.4038573086rem  +  2.6682134571vw , 2.375rem );
  }
}
@supports not (margin-bottom: clamp( 0.9375rem , 0.4038573086rem  +  2.6682134571vw , 2.375rem )) {
  .tabs__navigation {
    margin-bottom: calc(0.9375rem + 1.4375 * (100vw - 20rem) / 53.875);
  }
}
.tabs__title {
  border: 1px solid #fff;
  padding: 0.625rem 0;
  border-radius: 0.3125rem;
}
@supports (padding-right: clamp( 0.5rem , 0.337587007rem  +  0.8120649652vw , 0.9375rem )) {
  .tabs__title {
    padding-right: clamp( 0.5rem , 0.337587007rem  +  0.8120649652vw , 0.9375rem );
  }
}
@supports not (padding-right: clamp( 0.5rem , 0.337587007rem  +  0.8120649652vw , 0.9375rem )) {
  .tabs__title {
    padding-right: calc(0.5rem + 0.4375 * (100vw - 20rem) / 53.875);
  }
}
@supports (padding-left: clamp( 0.5rem , 0.337587007rem  +  0.8120649652vw , 0.9375rem )) {
  .tabs__title {
    padding-left: clamp( 0.5rem , 0.337587007rem  +  0.8120649652vw , 0.9375rem );
  }
}
@supports not (padding-left: clamp( 0.5rem , 0.337587007rem  +  0.8120649652vw , 0.9375rem )) {
  .tabs__title {
    padding-left: calc(0.5rem + 0.4375 * (100vw - 20rem) / 53.875);
  }
}
.tabs__title._tab-active {
  border: 1px solid #066F14;
  color: #066F14;
  line-height: 1.2777777778;
}
.tabs__content {
  padding: 0.625rem 0rem;
}
[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  display: inline-block;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2777777778;
  padding: 1rem 2rem;
  color: #ffffff;
  background-color: #066f14;
  transition: background-color 0.3s ease 0s;
  border-radius: 0.25rem;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #0b941b;
  }
}
.button_small {
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  line-height: 1.2857142857;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
}
@supports (height: clamp( 4.5rem , 3.3399071926rem  +  5.8004640371vw , 7.625rem )) {
  .header {
    height: clamp( 4.5rem , 3.3399071926rem  +  5.8004640371vw , 7.625rem );
  }
}
@supports not (height: clamp( 4.5rem , 3.3399071926rem  +  5.8004640371vw , 7.625rem )) {
  .header {
    height: calc(4.5rem + 3.125 * (100vw - 20rem) / 53.875);
  }
}
.header._header-scroll {
  max-height: 4.5rem;
  position: fixed;
  top: -200%;
  background-color: rgba(255, 255, 255, 0.897);
  z-index: 5;
  transition: top 1s ease 0s;
}
.header._header-show {
  transition: top 0.5s ease 0s;
  top: 0;
}
.header__container {
  width: 100%;
}
.header__body {
  display: flex;
  align-items: center;
}
.header__logo {
  display: inline-block;
  font-family: Nunito;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.375;
  color: #1A1A1A;
  margin-right: 0.9375rem;
  z-index: 6;
}
.header__user {
  display: flex;
  align-items: center;
  z-index: 6;
}
@supports (gap: clamp( 0.9375rem , 0.1718387471rem  +  3.8283062645vw , 3rem )) {
  .header__user {
    gap: clamp( 0.9375rem , 0.1718387471rem  +  3.8283062645vw , 3rem );
  }
}
@supports not (gap: clamp( 0.9375rem , 0.1718387471rem  +  3.8283062645vw , 3rem )) {
  .header__user {
    gap: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 53.875);
  }
}
.header__login {
  position: relative;
  line-height: 1.3125;
  color: #1A1A1A;
}
.header__login::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0rem;
  height: 0.0625rem;
  background-color: #066F14;
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .header__login:hover {
    color: #066F14;
  }
  .header__login:hover::before {
    content: "";
    width: 100%;
  }
}
@media (max-width: 29.99875em) {
  .header__sign-button {
    padding: 0.375rem 1rem;
  }
}
.menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}
@supports (margin-right: clamp( 2.8125rem , -7.5625rem  +  21.6145833333vw , 8rem )) {
  .menu {
    margin-right: clamp( 2.8125rem , -7.5625rem  +  21.6145833333vw , 8rem );
  }
}
@supports not (margin-right: clamp( 2.8125rem , -7.5625rem  +  21.6145833333vw , 8rem )) {
  .menu {
    margin-right: calc(2.8125rem + 5.1875 * (100vw - 48rem) / 24);
  }
}
@media (max-width: 47.99875em) {
  .menu {
    margin-right: 0;
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s ease 0s;
    z-index: 5;
    overflow: auto;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
@supports (gap: clamp( 0.9375rem , 0.1718387471rem  +  3.8283062645vw , 3rem )) {
  .menu__list {
    gap: clamp( 0.9375rem , 0.1718387471rem  +  3.8283062645vw , 3rem );
  }
}
@supports not (gap: clamp( 0.9375rem , 0.1718387471rem  +  3.8283062645vw , 3rem )) {
  .menu__list {
    gap: calc(0.9375rem + 2.0625 * (100vw - 20rem) / 53.875);
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  @supports (padding-top: clamp( 5.125rem , 4.1969257541rem  +  4.6403712297vw , 7.625rem )) {
    .menu__list {
      padding-top: clamp( 5.125rem , 4.1969257541rem  +  4.6403712297vw , 7.625rem );
    }
  }
  @supports not (padding-top: clamp( 5.125rem , 4.1969257541rem  +  4.6403712297vw , 7.625rem )) {
    .menu__list {
      padding-top: calc(5.125rem + 2.5 * (100vw - 20rem) / 53.875);
    }
  }
}
.menu__link {
  position: relative;
  line-height: 1.3125;
  color: #1A1A1A;
  transition: color 0.3s ease 0s;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0rem;
  height: 0.0625rem;
  background-color: #066F14;
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #066F14;
  }
  .menu__link:hover::before {
    content: "";
    width: 100%;
  }
}
@media (max-width: 47.99875em) {
  .menu__link {
    font-size: 1.875rem;
  }
}

.menu-open .header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 6;
}
@supports (min-height: clamp( 4.5rem , 3.3399071926rem  +  5.8004640371vw , 7.625rem )) {
  .menu-open .header::before {
    min-height: clamp( 4.5rem , 3.3399071926rem  +  5.8004640371vw , 7.625rem );
  }
}
@supports not (min-height: clamp( 4.5rem , 3.3399071926rem  +  5.8004640371vw , 7.625rem )) {
  .menu-open .header::before {
    min-height: calc(4.5rem + 3.125 * (100vw - 20rem) / 53.875);
  }
}
.menu-open .menu__body {
  left: 0;
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    margin-left: 0.9375rem;
    cursor: pointer;
    z-index: 6;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , -0.0848317865rem  +  8.2366589327vw , 6rem )) {
  .footer {
    padding-bottom: clamp( 1.5625rem , -0.0848317865rem  +  8.2366589327vw , 6rem );
  }
}
@supports not (padding-bottom: clamp( 1.5625rem , -0.0848317865rem  +  8.2366589327vw , 6rem )) {
  .footer {
    padding-bottom: calc(1.5625rem + 4.4375 * (100vw - 20rem) / 53.875);
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__info {
  max-width: 19.125rem;
  margin-right: 1.5625rem;
}
@media (max-width: 47.99875em) {
  .footer__info {
    margin: 0 0 1.5625rem 0;
    max-width: 100%;
  }
}
.footer__logo {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2916666667;
  color: #1A1A1A;
}
@supports (margin-bottom: clamp( 0.9375rem , 0.7286832947rem  +  1.0440835267vw , 1.5rem )) {
  .footer__logo:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.7286832947rem  +  1.0440835267vw , 1.5rem );
  }
}
@supports not (margin-bottom: clamp( 0.9375rem , 0.7286832947rem  +  1.0440835267vw , 1.5rem )) {
  .footer__logo:not(:last-child) {
    margin-bottom: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 53.875);
  }
}
.footer__text {
  line-height: 160%;
  color: #5a5a5a;
}
@supports (margin-bottom: clamp( 0.9375rem , 0.775087007rem  +  0.8120649652vw , 1.375rem )) {
  .footer__text:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.775087007rem  +  0.8120649652vw , 1.375rem );
  }
}
@supports not (margin-bottom: clamp( 0.9375rem , 0.775087007rem  +  0.8120649652vw , 1.375rem )) {
  .footer__text:not(:last-child) {
    margin-bottom: calc(0.9375rem + 0.4375 * (100vw - 20rem) / 53.875);
  }
}
.social-items {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.social-items__item {
  flex: 0 0 3rem;
  height: 3rem;
  background: #edffdd;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.375rem;
  color: #066F14;
  transition: box-shadow 0.3s ease 0s;
}
@media (any-hover: hover) {
  .social-items__item:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}

.spollers {
  display: flex;
  flex: 0 1 40.3125rem;
  justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .spollers {
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 50%;
    gap: 1.25rem;
  }
}
.spollers__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 61.99875em) {
  .spollers__item {
    max-width: 33%;
  }
  .spollers__item:not(:last-child) {
    margin-right: 0.9375rem;
  }
}
@media (max-width: 61.99875em) {
  .spollers__item {
    margin-right: 0.9375rem;
  }
}
.spollers__title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2916666667;
  color: #1a1a1a;
}
@supports (margin-bottom: clamp( 1.25rem , 1.1571925754rem  +  0.464037123vw , 1.5rem )) {
  .spollers__title {
    margin-bottom: clamp( 1.25rem , 1.1571925754rem  +  0.464037123vw , 1.5rem );
  }
}
@supports not (margin-bottom: clamp( 1.25rem , 1.1571925754rem  +  0.464037123vw , 1.5rem )) {
  .spollers__title {
    margin-bottom: calc(1.25rem + 0.25 * (100vw - 20rem) / 53.875);
  }
}
.spollers__title::before {
  display: none;
}
@media (max-width: 61.99875em) {
  .spollers__title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .spollers__title::before {
    display: block;
    transition: transform 0.3s ease 0s;
  }
  .spollers__title._spoller-active::before {
    transform: rotate(90deg);
  }
}
.spollers__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.spollers-list__link {
  position: relative;
  line-height: 1.3125;
  color: #5a5a5a;
  transition: color 0.3s ease 0s;
}
.spollers-list__link::before {
  content: "";
  position: absolute;
  width: 0rem;
  height: 0.0625rem;
  bottom: 0;
  left: 0;
  background-color: #066F14;
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .spollers-list__link:hover {
    color: #066F14;
  }
  .spollers-list__link:hover::before {
    width: 100%;
  }
}

.main {
  padding-bottom: 1.375rem;
}
@supports (padding-top: clamp( 5.375rem , 4.2149071926rem  +  5.8004640371vw , 8.5rem )) {
  .main {
    padding-top: clamp( 5.375rem , 4.2149071926rem  +  5.8004640371vw , 8.5rem );
  }
}
@supports not (padding-top: clamp( 5.375rem , 4.2149071926rem  +  5.8004640371vw , 8.5rem )) {
  .main {
    padding-top: calc(5.375rem + 3.125 * (100vw - 20rem) / 53.875);
  }
}
.main__container {
  display: flex;
  align-items: center;
}
@media (max-width: 93.75em) {
  .main__container {
    flex-direction: column;
  }
}
.main__content {
  flex: 0 0 50%;
  position: relative;
  padding-right: 1.75rem;
}
@supports (padding-top: clamp( 0rem , -1.1600928074rem  +  5.8004640371vw , 3.125rem )) {
  .main__content {
    padding-top: clamp( 0rem , -1.1600928074rem  +  5.8004640371vw , 3.125rem );
  }
}
@supports not (padding-top: clamp( 0rem , -1.1600928074rem  +  5.8004640371vw , 3.125rem )) {
  .main__content {
    padding-top: calc(0rem + 3.125 * (100vw - 20rem) / 53.875);
  }
}
@media (max-width: 93.75em) {
  .main__content {
    padding-top: 0.9375rem;
    padding-right: 0rem;
  }
}
.main__content img {
  position: absolute;
  bottom: 9.625rem;
  right: -8.125rem;
  z-index: -1;
}
@media (max-width: 93.75em) {
  .main__content img {
    right: 0rem;
    padding-top: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .main__content img {
    display: none;
  }
}
.main__title {
  font-family: Nunito;
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1.2777777778;
  color: #1A1A1A;
}
.main__title:not(:last-child) {
  margin-bottom: 1.5rem;
}
@supports (margin-bottom: clamp( 0.9375rem , 0.7286832947rem  +  1.0440835267vw , 1.5rem )) {
  .main__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.7286832947rem  +  1.0440835267vw , 1.5rem );
  }
}
@supports not (margin-bottom: clamp( 0.9375rem , 0.7286832947rem  +  1.0440835267vw , 1.5rem )) {
  .main__title:not(:last-child) {
    margin-bottom: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 53.875);
  }
}
@media (max-width: 47.99875em) {
  @supports (font-size: clamp( 2.375rem , 1.586136891rem  +  3.9443155452vw , 4.5rem )) {
    .main__title {
      font-size: clamp( 2.375rem , 1.586136891rem  +  3.9443155452vw , 4.5rem );
    }
  }
  @supports not (font-size: clamp( 2.375rem , 1.586136891rem  +  3.9443155452vw , 4.5rem )) {
    .main__title {
      font-size: calc(2.375rem + 2.125 * (100vw - 20rem) / 53.875);
    }
  }
}
.main__text {
  line-height: 1.625;
  max-width: 31.5625rem;
}
@supports (margin-bottom: clamp( 0.9375rem , 0.3574535963rem  +  2.9002320186vw , 2.5rem )) {
  .main__text:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.3574535963rem  +  2.9002320186vw , 2.5rem );
  }
}
@supports not (margin-bottom: clamp( 0.9375rem , 0.3574535963rem  +  2.9002320186vw , 2.5rem )) {
  .main__text:not(:last-child) {
    margin-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 53.875);
  }
}
@media (max-width: 93.75em) {
  .main__text {
    max-width: 75%;
  }
}
@media (max-width: 47.99875em) {
  .main__text {
    max-width: 100%;
  }
}
@supports (margin-bottom: clamp( 1.5625rem , 0.7504350348rem  +  4.060324826vw , 3.75rem )) {
  .main__button:not(:last-child) {
    margin-bottom: clamp( 1.5625rem , 0.7504350348rem  +  4.060324826vw , 3.75rem );
  }
}
@supports not (margin-bottom: clamp( 1.5625rem , 0.7504350348rem  +  4.060324826vw , 3.75rem )) {
  .main__button:not(:last-child) {
    margin-bottom: calc(1.5625rem + 2.1875 * (100vw - 20rem) / 53.875);
  }
}
.main__image {
  flex: 0 0 50%;
  transform: translate(5.625rem, 0);
}
.main__image img {
  position: relative;
}
@media (max-width: 93.75em) {
  .main__image {
    transform: translate(0, 0);
  }
}
@media (max-width: 47.99875em) {
  .main__image {
    display: flex;
    justify-content: center;
  }
  .main__image img {
    width: 70%;
  }
}
@media (max-width: 40.625em) {
  .main__image {
    width: 100%;
  }
  .main__image img {
    width: 100%;
  }
}
.statistics-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6.875rem, 1fr));
  margin: 0 0 3.25rem 0;
}
@supports (gap: clamp( 0.9375rem , -0.7098317865rem  +  8.2366589327vw , 5.375rem )) {
  .statistics-main {
    gap: clamp( 0.9375rem , -0.7098317865rem  +  8.2366589327vw , 5.375rem );
  }
}
@supports not (gap: clamp( 0.9375rem , -0.7098317865rem  +  8.2366589327vw , 5.375rem )) {
  .statistics-main {
    gap: calc(0.9375rem + 4.4375 * (100vw - 20rem) / 53.875);
  }
}
@supports (margin-bottom: clamp( 0.9375rem , 0.0790313225rem  +  4.2923433875vw , 3.25rem )) {
  .statistics-main {
    margin-bottom: clamp( 0.9375rem , 0.0790313225rem  +  4.2923433875vw , 3.25rem );
  }
}
@supports not (margin-bottom: clamp( 0.9375rem , 0.0790313225rem  +  4.2923433875vw , 3.25rem )) {
  .statistics-main {
    margin-bottom: calc(0.9375rem + 2.3125 * (100vw - 20rem) / 53.875);
  }
}
.statistics-main__count {
  font-family: Nunito;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.3611111111;
  color: #001b04;
}
.statistics-main__text {
  font-size: 1.125rem;
  line-height: 1.2777777778;
  color: #1A1A1A;
}

.media-main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
}
@media (max-width: 41.875em) {
  .media-main {
    display: none;
  }
}
.media-main__text {
  width: 11.25rem;
  text-align: center;
  line-height: 1.3125;
  background: rgba(6, 111, 20, 0.7);
  transition: opacity 0.3s ease 0s;
}
@media (any-hover: hover) {
  .media-main__text {
    opacity: 0;
    visibility: hidden;
  }
}
.media-main__line {
  margin-top: 1.53125rem;
  width: 5.9375rem;
  height: 0.25rem;
  background-color: #519a5a;
  transition: opacity 0.3s ease 0s;
}
@media (any-hover: hover) {
  .media-main__line {
    opacity: 0;
    visibility: hidden;
  }
}
.media-main__dott {
  cursor: pointer;
  margin-top: 1.15625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background: rgba(255, 255, 255, 0.54);
}
.media-main__dott::before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  background-color: #f4c300;
  border-radius: 50%;
}
@media (any-hover: hover) {
  .media-main__dott:hover ~ .media-main__text,
.media-main__dott:hover ~ .media-main__line {
    opacity: 1;
    visibility: visible;
  }
}
.media-main_1 {
  flex-direction: row-reverse;
  top: 24.2%;
  left: -12%;
}
@media (max-width: 47.99875em) {
  .media-main_1 {
    left: -9%;
  }
}
.media-main_2 {
  top: 10%;
  right: -7%;
}
@media (max-width: 93.75em) {
  .media-main_2 {
    right: -10%;
  }
}
@media (max-width: 47.99875em) {
  .media-main_2 {
    right: -8%;
  }
}
.media-main_3 {
  top: 77%;
  right: -12%;
}
.media-main_3 .media-main__line {
  width: 4.5rem;
}
@media (max-width: 47.99875em) {
  .media-main_3 {
    right: -8%;
  }
}

@supports (padding-top: clamp( 0.9375rem , -0.3386020882rem  +  6.3805104408vw , 4.375rem )) {
  .collection {
    padding-top: clamp( 0.9375rem , -0.3386020882rem  +  6.3805104408vw , 4.375rem );
  }
}
@supports not (padding-top: clamp( 0.9375rem , -0.3386020882rem  +  6.3805104408vw , 4.375rem )) {
  .collection {
    padding-top: calc(0.9375rem + 3.4375 * (100vw - 20rem) / 53.875);
  }
}
@supports (padding-bottom: clamp( 2.1875rem , 0.0297273782rem  +  10.788863109vw , 8rem )) {
  .collection {
    padding-bottom: clamp( 2.1875rem , 0.0297273782rem  +  10.788863109vw , 8rem );
  }
}
@supports not (padding-bottom: clamp( 2.1875rem , 0.0297273782rem  +  10.788863109vw , 8rem )) {
  .collection {
    padding-bottom: calc(2.1875rem + 5.8125 * (100vw - 20rem) / 53.875);
  }
}
.collection__container {
  display: flex;
  justify-content: center;
}
@media (max-width: 73.875em) {
  .collection__container {
    flex-direction: column;
    align-items: center;
  }
}
.collection__content {
  flex: 0 0 33.7%;
}
@supports (margin-right: clamp( 1.5rem , 0.6183294664rem  +  4.4083526682vw , 3.875rem )) {
  .collection__content {
    margin-right: clamp( 1.5rem , 0.6183294664rem  +  4.4083526682vw , 3.875rem );
  }
}
@supports not (margin-right: clamp( 1.5rem , 0.6183294664rem  +  4.4083526682vw , 3.875rem )) {
  .collection__content {
    margin-right: calc(1.5rem + 2.375 * (100vw - 20rem) / 53.875);
  }
}
@media (max-width: 73.875em) {
  .collection__content {
    margin-right: 0;
    margin-bottom: 1.5625rem;
  }
}
.collection__title {
  font-family: Nunito;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.3611111111;
  color: #1A1A1A;
}
@supports (margin-bottom: clamp( 0.9375rem , 0.4270591647rem  +  2.5522041763vw , 2.3125rem )) {
  .collection__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.4270591647rem  +  2.5522041763vw , 2.3125rem );
  }
}
@supports not (margin-bottom: clamp( 0.9375rem , 0.4270591647rem  +  2.5522041763vw , 2.3125rem )) {
  .collection__title:not(:last-child) {
    margin-bottom: calc(0.9375rem + 1.375 * (100vw - 20rem) / 53.875);
  }
}
.collection__see-all {
  display: inline-flex;
  align-items: center;
  font-size: 1.125rem;
  line-height: 1.2777777778;
}
.collection__see-all::after {
  content: "\e901";
  margin-left: 0.5625rem;
}
@media (any-hover: hover) {
  .collection__see-all:hover {
    color: #066F14;
  }
}
.collection__galery {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
.collection__item {
  flex: 0 0 30%;
  height: 12.9375rem;
  border-radius: 4px;
  padding: 1.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.collection__item img {
  transition: transform 0.3s ease 0s;
}
.collection__item:nth-child(1) {
  background-color: #f6ede8;
}
.collection__item:nth-child(2) {
  background-color: #f0f1f6;
}
.collection__item:nth-child(3) {
  background-color: #f6ede8;
}
@media (any-hover: hover) {
  .collection__item:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .collection__item:hover img {
    transform: scale(1.1);
  }
}

@supports (padding-bottom: clamp( 2.1875rem , 0.0297273782rem  +  10.788863109vw , 8rem )) {
  .about {
    padding-bottom: clamp( 2.1875rem , 0.0297273782rem  +  10.788863109vw , 8rem );
  }
}
@supports not (padding-bottom: clamp( 2.1875rem , 0.0297273782rem  +  10.788863109vw , 8rem )) {
  .about {
    padding-bottom: calc(2.1875rem + 5.8125 * (100vw - 20rem) / 53.875);
  }
}
.about__container {
  display: flex;
  overflow: hidden;
}
@media (max-width: 61.99875em) {
  .about__container {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.about__image-block {
  position: relative;
  flex: 0 0 50%;
  max-height: 30rem;
}
@media (max-width: 73.875em) {
  .about__image-block {
    padding-right: 0rem;
  }
}
@media (max-width: 61.99875em) {
  .about__image-block {
    margin-top: 5rem;
    max-height: none;
    width: 80%;
  }
  @supports (margin-top: clamp( 2.5rem , 1.3094883776rem  +  5.9525581118vw , 5rem )) {
    .about__image-block {
      margin-top: clamp( 2.5rem , 1.3094883776rem  +  5.9525581118vw , 5rem );
    }
  }
  @supports not (margin-top: clamp( 2.5rem , 1.3094883776rem  +  5.9525581118vw , 5rem )) {
    .about__image-block {
      margin-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 41.99875);
    }
  }
}
@media (max-width: 47.99875em) {
  .about__image-block {
    width: 100%;
  }
}
.about__image {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
@media (max-width: 61.99875em) {
  .about__image {
    align-items: center;
    justify-content: center;
  }
}
.about__image::before {
  content: "";
  position: absolute;
  z-index: 0;
  width: 77.4305555556%;
  height: 91.6666666667%;
  top: 0rem;
  left: 1.625rem;
  background-color: #066F14;
}
@supports (left: clamp( 0rem , -9.7683159617rem  +  15.7556659799vw , 1.625rem )) {
  .about__image::before {
    left: clamp( 0rem , -9.7683159617rem  +  15.7556659799vw , 1.625rem );
  }
}
@supports not (left: clamp( 0rem , -9.7683159617rem  +  15.7556659799vw , 1.625rem )) {
  .about__image::before {
    left: calc(0rem + 1.625 * (100vw - 61.99875rem) / 10.31375);
  }
}
@supports (top: clamp( 0rem , 11.3933159617rem  +  -15.7556659799vw , 1.625rem )) {
  .about__image::before {
    top: clamp( 0rem , 11.3933159617rem  +  -15.7556659799vw , 1.625rem );
  }
}
@supports not (top: clamp( 0rem , 11.3933159617rem  +  -15.7556659799vw , 1.625rem )) {
  .about__image::before {
    top: calc(1.625rem + -1.625 * (100vw - 61.99875rem) / 10.31375);
  }
}
@media (max-width: 61.99875em) {
  .about__image::before {
    top: -2.8125rem;
    left: 0.9375rem;
  }
  @supports (top: clamp( -2.875rem , -0.0148534927rem  +  -4.6132325367vw , -0.9375rem )) {
    .about__image::before {
      top: clamp( -2.875rem , -0.0148534927rem  +  -4.6132325367vw , -0.9375rem );
    }
  }
  @supports not (top: clamp( -2.875rem , -0.0148534927rem  +  -4.6132325367vw , -0.9375rem )) {
    .about__image::before {
      top: calc(-0.9375rem + -1.9375 * (100vw - 20rem) / 41.99875);
    }
  }
}
.about__image img {
  z-index: 1;
}
@supports (padding-right: clamp( 0.3125rem , -0.3603538283rem  +  3.3642691415vw , 2.125rem )) {
  .about__image img {
    padding-right: clamp( 0.3125rem , -0.3603538283rem  +  3.3642691415vw , 2.125rem );
  }
}
@supports not (padding-right: clamp( 0.3125rem , -0.3603538283rem  +  3.3642691415vw , 2.125rem )) {
  .about__image img {
    padding-right: calc(0.3125rem + 1.8125 * (100vw - 20rem) / 53.875);
  }
}
@media (max-width: 61.99875em) {
  .about__image img {
    width: 80%;
    padding-right: 0;
  }
}
@supports (padding-left: clamp( 0.3125rem , -0.6387761021rem  +  4.7563805104vw , 2.875rem )) {
  .about__content {
    padding-left: clamp( 0.3125rem , -0.6387761021rem  +  4.7563805104vw , 2.875rem );
  }
}
@supports not (padding-left: clamp( 0.3125rem , -0.6387761021rem  +  4.7563805104vw , 2.875rem )) {
  .about__content {
    padding-left: calc(0.3125rem + 2.5625 * (100vw - 20rem) / 53.875);
  }
}
@supports (padding-right: clamp( 0.3125rem , -0.1747389791rem  +  2.4361948956vw , 1.625rem )) {
  .about__content {
    padding-right: clamp( 0.3125rem , -0.1747389791rem  +  2.4361948956vw , 1.625rem );
  }
}
@supports not (padding-right: clamp( 0.3125rem , -0.1747389791rem  +  2.4361948956vw , 1.625rem )) {
  .about__content {
    padding-right: calc(0.3125rem + 1.3125 * (100vw - 20rem) / 53.875);
  }
}
.about__subtitle {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2777777778;
  color: #066F14;
}
.about__subtitle:not(:last-child) {
  margin-bottom: 0.75rem;
}
.about__title {
  font-family: Nunito;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.25;
  color: #1A1A1A;
}
@supports (margin-bottom: clamp( 0.9375rem , 0.7286832947rem  +  1.0440835267vw , 1.5rem )) {
  .about__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.7286832947rem  +  1.0440835267vw , 1.5rem );
  }
}
@supports not (margin-bottom: clamp( 0.9375rem , 0.7286832947rem  +  1.0440835267vw , 1.5rem )) {
  .about__title:not(:last-child) {
    margin-bottom: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 53.875);
  }
}
@media (max-width: 31.25em) {
  @supports (font-size: clamp( 2rem , 1.2rem  +  4vw , 2.5rem )) {
    .about__title {
      font-size: clamp( 2rem , 1.2rem  +  4vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 2rem , 1.2rem  +  4vw , 2.5rem )) {
    .about__title {
      font-size: calc(2rem + 0.5 * (100vw - 20rem) / 12.5);
    }
  }
}
.about__text {
  line-height: 160%;
}
.about__text:not(:last-child) {
  margin-bottom: 1rem;
}
.about__subtext {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 160%;
}
@supports ( margin-bottom: clamp( 0.9375rem , 0.4502610209rem  +  2.4361948956vw , 2.25rem )) {
  .about__subtext:not(:last-child) {
     margin-bottom: clamp( 0.9375rem , 0.4502610209rem  +  2.4361948956vw , 2.25rem );
  }
}
@supports not ( margin-bottom: clamp( 0.9375rem , 0.4502610209rem  +  2.4361948956vw , 2.25rem )) {
  .about__subtext:not(:last-child) {
     margin-bottom: calc(0.9375rem + 1.3125 * (100vw - 20rem) / 53.875);
  }
}
@supports (padding-bottom: clamp( 2.1875rem , 0.0297273782rem  +  10.788863109vw , 8rem )) {
  .best-product {
    padding-bottom: clamp( 2.1875rem , 0.0297273782rem  +  10.788863109vw , 8rem );
  }
}
@supports not (padding-bottom: clamp( 2.1875rem , 0.0297273782rem  +  10.788863109vw , 8rem )) {
  .best-product {
    padding-bottom: calc(2.1875rem + 5.8125 * (100vw - 20rem) / 53.875);
  }
}
.best-product__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.25;
  color: #1A1A1A;
  text-align: center;
}
@supports (font-size: clamp( 2.25rem , 2.1571925754rem  +  0.464037123vw , 2.5rem )) {
  .best-product__title {
    font-size: clamp( 2.25rem , 2.1571925754rem  +  0.464037123vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 2.25rem , 2.1571925754rem  +  0.464037123vw , 2.5rem )) {
  .best-product__title {
    font-size: calc(2.25rem + 0.25 * (100vw - 20rem) / 53.875);
  }
}
@supports (margin-bottom: clamp( 1.25rem , 1.1571925754rem  +  0.464037123vw , 1.5rem )) {
  .best-product__title {
    margin-bottom: clamp( 1.25rem , 1.1571925754rem  +  0.464037123vw , 1.5rem );
  }
}
@supports not (margin-bottom: clamp( 1.25rem , 1.1571925754rem  +  0.464037123vw , 1.5rem )) {
  .best-product__title {
    margin-bottom: calc(1.25rem + 0.25 * (100vw - 20rem) / 53.875);
  }
}

.tabs__title {
  font-weight: 500;
  line-height: 1.3125;
}
.tabs__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@supports (margin-bottom: clamp( 0.9375rem , 0.3574535963rem  +  2.9002320186vw , 2.5rem )) {
  .tabs__items {
    margin-bottom: clamp( 0.9375rem , 0.3574535963rem  +  2.9002320186vw , 2.5rem );
  }
}
@supports not (margin-bottom: clamp( 0.9375rem , 0.3574535963rem  +  2.9002320186vw , 2.5rem )) {
  .tabs__items {
    margin-bottom: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 53.875);
  }
}
@supports (gap: clamp( 0.9375rem , 0.7286832947rem  +  1.0440835267vw , 1.5rem )) {
  .tabs__items {
    gap: clamp( 0.9375rem , 0.7286832947rem  +  1.0440835267vw , 1.5rem );
  }
}
@supports not (gap: clamp( 0.9375rem , 0.7286832947rem  +  1.0440835267vw , 1.5rem )) {
  .tabs__items {
    gap: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 53.875);
  }
}
.item-tabs {
  padding: 0.625rem 1.9375rem;
  flex: 0 0 25%;
  max-width: 16.875rem;
  min-width: 16.875rem;
  transition: box-shadow 0.3s ease 0s;
}
.item-tabs:nth-child(odd) {
  background-color: #eaf2e5;
}
.item-tabs:nth-child(even) {
  background-color: #f0ebe6;
}
@media (any-hover: hover) {
  .item-tabs:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  .item-tabs:hover .item-tabs__image-ibg img {
    transform: scale(1.1);
  }
}
.item-tabs__image-ibg {
  display: flex;
  width: 9.5625rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.75rem;
  padding-bottom: 74%;
}
.item-tabs__image-ibg img {
  transition: transform 0.3s ease 0s;
}
.item-tabs__title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.1666666667;
  color: #1A1A1A;
  margin-bottom: 0.625rem;
}
.item-tabs__price {
  display: flex;
  align-items: center;
  font-family: Nunito;
  font-weight: 600;
  line-height: 1.1875;
  color: #1A1A1A;
  gap: 0.9375rem;
  margin-bottom: 1.1875rem;
}
.item-tabs__price_old {
  color: #d1cbc8;
  font-weight: 600;
  font-size: 0.875rem;
  text-decoration: line-through;
}
.item-tabs__button-block {
  width: 100%;
  display: flex;
  justify-content: center;
}
@supports (padding-bottom: clamp( 2.1875rem , -0.8055394432rem  +  14.9651972158vw , 10.25rem )) {
  .customers {
    padding-bottom: clamp( 2.1875rem , -0.8055394432rem  +  14.9651972158vw , 10.25rem );
  }
}
@supports not (padding-bottom: clamp( 2.1875rem , -0.8055394432rem  +  14.9651972158vw , 10.25rem )) {
  .customers {
    padding-bottom: calc(2.1875rem + 8.0625 * (100vw - 20rem) / 53.875);
  }
}
.customers__container {
  display: flex;
}
@media (max-width: 61.99875em) {
  .customers__container {
    flex-direction: column;
  }
}
@media (max-width: 61.99875em) {
  .customers__content {
    margin-bottom: 0.9375rem;
  }
}
.customers__title {
  font-family: Nunito;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.25;
  color: #1A1A1A;
  margin-bottom: 0.75rem;
}
@supports (font-size: clamp( 2.25rem , 2.1571925754rem  +  0.464037123vw , 2.5rem )) {
  .customers__title {
    font-size: clamp( 2.25rem , 2.1571925754rem  +  0.464037123vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 2.25rem , 2.1571925754rem  +  0.464037123vw , 2.5rem )) {
  .customers__title {
    font-size: calc(2.25rem + 0.25 * (100vw - 20rem) / 53.875);
  }
}
@media (max-width: 61.99875em) {
  .customers__title {
    text-align: center;
  }
}
.customers__text {
  max-width: 31.375rem;
  line-height: 160%;
}
@supports (margin-bottom: clamp( 0.9375rem , 0.2878480278rem  +  3.2482598608vw , 2.6875rem )) {
  .customers__text {
    margin-bottom: clamp( 0.9375rem , 0.2878480278rem  +  3.2482598608vw , 2.6875rem );
  }
}
@supports not (margin-bottom: clamp( 0.9375rem , 0.2878480278rem  +  3.2482598608vw , 2.6875rem )) {
  .customers__text {
    margin-bottom: calc(0.9375rem + 1.75 * (100vw - 20rem) / 53.875);
  }
}
@media (max-width: 61.99875em) {
  .customers__text {
    max-width: 100%;
  }
}
.customers__slider {
  position: relative;
  width: 37.3125rem;
  margin-right: -2.9375rem;
  z-index: 2;
}
@media (max-width: 61.99875em) {
  .customers__slider {
    margin: 0 auto;
    width: 100%;
  }
}
.customers__image-ibg {
  flex: 0 0 52.2569444444%;
  padding-bottom: 37.3263888889%;
}
@media (max-width: 61.99875em) {
  .customers__image-ibg {
    padding-bottom: 51.4285714286%;
    width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 47.99875em) {
  .customers__image-ibg {
    padding-bottom: 71.4285714286%;
    width: 110%;
    margin: 0 -0.9375rem;
  }
}

.slide-customers {
  background-color: #066F14;
  padding: 1.25rem 1.5rem 1.875rem 2rem;
}
@media (max-width: 40.625em) {
  .slide-customers {
    padding: 1.25rem;
  }
}
.slide-customers__top {
  position: relative;
  display: flex;
  margin-bottom: 1rem;
}
.slide-customers__top::after, .slide-customers__top::before {
  position: absolute;
  content: "\e904";
  font-size: 2.5rem;
}
.slide-customers__top::before {
  top: 0rem;
  right: 0rem;
}
.slide-customers__top::after {
  top: 0rem;
  right: 1.875rem;
}
@media (max-width: 29.99875em) {
  .slide-customers__top::after, .slide-customers__top::before {
    display: none;
  }
}
.slide-customers__user {
  display: flex;
}
.slide-customers__icon {
  margin-right: 0.625rem;
}
.slide-customers__user-info {
  max-width: 67.0016750419%;
}
.slide-customers__user-name {
  font-family: Nunito;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.3888888889;
  color: #ffffff;
  margin-bottom: 0.375rem;
}
.slide-customers__user-position {
  font-size: 0.875rem;
  line-height: 1.2857142857;
  color: #d9d9d9;
}
.slide-customers__text {
  line-height: 160%;
  color: #ececec;
}

.swiper-button-prev {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  bottom: 0;
  right: 1.5rem;
  background-color: #000;
  color: #fff;
  z-index: 2;
}
.swiper-button-prev::before {
  transform: rotate(180deg);
}
@media (max-width: 61.99875em) {
  .swiper-button-prev {
    display: none;
  }
}

.swiper-button-next {
  position: absolute;
  bottom: 0;
  right: 0rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  color: #000;
  z-index: 2;
}
@media (max-width: 61.99875em) {
  .swiper-button-next {
    display: none;
  }
}

@supports (margin-bottom: clamp( 2.1875rem , 1.1666183295rem  +  5.1044083527vw , 4.9375rem )) {
  .subscribe {
    margin-bottom: clamp( 2.1875rem , 1.1666183295rem  +  5.1044083527vw , 4.9375rem );
  }
}
@supports not (margin-bottom: clamp( 2.1875rem , 1.1666183295rem  +  5.1044083527vw , 4.9375rem )) {
  .subscribe {
    margin-bottom: calc(2.1875rem + 2.75 * (100vw - 20rem) / 53.875);
  }
}
.subscribe__container {
  display: flex;
}
@media (max-width: 29.99875em) {
  .subscribe__container {
    display: block;
  }
}
.subscribe__body {
  position: relative;
  display: flex;
  flex: 0 0 90.2777777778%;
  margin: 0 auto;
  background-color: #dfffe3;
  border-radius: 6px;
}
@supports (padding: clamp( 0.9375rem , -0.1065835267rem  +  5.2204176334vw , 3.75rem )) {
  .subscribe__body {
    padding: clamp( 0.9375rem , -0.1065835267rem  +  5.2204176334vw , 3.75rem );
  }
}
@supports not (padding: clamp( 0.9375rem , -0.1065835267rem  +  5.2204176334vw , 3.75rem )) {
  .subscribe__body {
    padding: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 53.875);
  }
}
@media (max-width: 47.99875em) {
  .subscribe__body {
    flex: 0 0 100%;
  }
}
.subscribe__content {
  flex: 0 0 52.1739130435%;
}
@media (max-width: 47.99875em) {
  .subscribe__content {
    flex: 0 0 60%;
  }
}
@media (max-width: 40.625em) {
  .subscribe__content {
    flex: 0 0 100%;
  }
}
.subscribe__title {
  font-family: Nunito;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.25;
  color: #1A1A1A;
  margin-bottom: 0.75rem;
}
@supports (font-size: clamp( 2.25rem , 2.1571925754rem  +  0.464037123vw , 2.5rem )) {
  .subscribe__title {
    font-size: clamp( 2.25rem , 2.1571925754rem  +  0.464037123vw , 2.5rem );
  }
}
@supports not (font-size: clamp( 2.25rem , 2.1571925754rem  +  0.464037123vw , 2.5rem )) {
  .subscribe__title {
    font-size: calc(2.25rem + 0.25 * (100vw - 20rem) / 53.875);
  }
}
.subscribe__text {
  line-height: 160%;
}
@supports (margin-bottom: clamp( 1.25rem , 1.0179814385rem  +  1.1600928074vw , 1.875rem )) {
  .subscribe__text {
    margin-bottom: clamp( 1.25rem , 1.0179814385rem  +  1.1600928074vw , 1.875rem );
  }
}
@supports not (margin-bottom: clamp( 1.25rem , 1.0179814385rem  +  1.1600928074vw , 1.875rem )) {
  .subscribe__text {
    margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 53.875);
  }
}
.subscribe__form {
  position: relative;
}
.subscribe__input {
  width: 100%;
  min-height: 3.5rem;
  padding-left: 1.5rem;
  padding-right: 8.125rem;
  font-size: 1.25rem;
}
.subscribe__input::placeholder {
  font-size: 0.875rem;
  line-height: 1.2857142857;
}
.subscribe__button {
  position: absolute;
  top: 0.4375rem;
  right: 0.4375rem;
}
.subscribe__image {
  position: absolute;
  top: -2.25rem;
  right: 1.5rem;
}
@media (max-width: 47.99875em) {
  .subscribe__image {
    right: 0rem;
  }
}
@media (max-width: 40.625em) {
  .subscribe__image {
    display: none;
  }
}

@supports (padding-bottom: clamp( 2.1875rem , 0.0297273782rem  +  10.788863109vw , 8rem )) {
  .follow {
    padding-bottom: clamp( 2.1875rem , 0.0297273782rem  +  10.788863109vw , 8rem );
  }
}
@supports not (padding-bottom: clamp( 2.1875rem , 0.0297273782rem  +  10.788863109vw , 8rem )) {
  .follow {
    padding-bottom: calc(2.1875rem + 5.8125 * (100vw - 20rem) / 53.875);
  }
}
.follow__head {
  max-width: 34.0625rem;
  margin: 0 auto;
}
@supports (margin-bottom: clamp( 1.25rem , 0.785962877rem  +  2.3201856148vw , 2.5rem )) {
  .follow__head {
    margin-bottom: clamp( 1.25rem , 0.785962877rem  +  2.3201856148vw , 2.5rem );
  }
}
@supports not (margin-bottom: clamp( 1.25rem , 0.785962877rem  +  2.3201856148vw , 2.5rem )) {
  .follow__head {
    margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 53.875);
  }
}
.follow__title {
  font-family: Nunito;
  font-weight: 700;
  line-height: 1.1875;
  color: #1A1A1A;
  text-align: center;
}
@supports (font-size: clamp( 2.25rem , 1.9715777262rem  +  1.3921113689vw , 3rem )) {
  .follow__title {
    font-size: clamp( 2.25rem , 1.9715777262rem  +  1.3921113689vw , 3rem );
  }
}
@supports not (font-size: clamp( 2.25rem , 1.9715777262rem  +  1.3921113689vw , 3rem )) {
  .follow__title {
    font-size: calc(2.25rem + 0.75 * (100vw - 20rem) / 53.875);
  }
}
.follow__title:not(:last-child) {
  margin-bottom: 0.75rem;
}
.follow__text {
  line-height: 160%;
  text-align: center;
}
.follow__gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 29.99875em) {
  .follow__gallery {
    gap: 0.9375rem;
  }
}
.follow__item-ibg {
  overflow: hidden;
  flex: 0 0 20%;
  padding-bottom: 20.9201388889%;
}
.follow__item-ibg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.34);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.follow__item-ibg::after {
  content: "\e905";
  position: absolute;
  top: calc(50% - 33px);
  left: calc(50% - 33px);
  font-size: 4.125rem;
  color: #fff;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.follow__item-ibg img {
  transition: width 0.3s ease 0s;
}
@media (any-hover: hover) {
  .follow__item-ibg:hover::before, .follow__item-ibg:hover::after {
    opacity: 1;
    visibility: visible;
  }
  .follow__item-ibg:hover img {
    width: 105%;
  }
}
@media (max-width: 61.99875em) {
  .follow__item-ibg {
    flex: 0 0 30%;
    padding-bottom: 30.3819444444%;
  }
}
@media (max-width: 40.625em) {
  .follow__item-ibg {
    flex: 0 0 50%;
    padding-bottom: 47.6923076923%;
  }
}
@media (max-width: 29.99875em) {
  .follow__item-ibg {
    flex: 0 0 100%;
    padding-bottom: 93.7369519833%;
  }
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
